<div class="main-content">
    <div class="container-fluid">

        <!-- FILTER CARD -->
        <div class="card card-plain">
            <div class="card-header" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center">

                <!-- FILTER DROPDOWN -->
                <mat-form-field appearance="outline" style="width:200px">
                    <mat-label>Filter by</mat-label>
                    <mat-select [(ngModel)]="selectedOption">
                        <mat-option value="name">By Name</mat-option>
                        <mat-option value="phone">By Phone</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- NAME SEARCH -->
                <ng-container *ngIf="selectedOption === 'name'">

                    <mat-form-field appearance="outline" style="width:250px">
                        <mat-label>Search Name</mat-label>
                        <input matInput [(ngModel)]="name" (input)="fetchSuggestionsName()"
                            [matAutocomplete]="autoName">

                        <mat-autocomplete #autoName="matAutocomplete"
                            (optionSelected)="selectSuggestion($event.option.value)">
                            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
                                {{ suggestion }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:200px">
                        <mat-label>Phone</mat-label>
                        <input matInput [(ngModel)]="phone">
                    </mat-form-field>

                </ng-container>

                <!-- PHONE SEARCH -->
                <ng-container *ngIf="selectedOption === 'phone'">

                    <mat-form-field appearance="outline" style="width:250px">
                        <mat-label>Search Phone</mat-label>
                        <input matInput [(ngModel)]="phone" (input)="fetchSuggestionsPhone()"
                            [matAutocomplete]="autoPhone">

                        <mat-autocomplete #autoPhone="matAutocomplete"
                            (optionSelected)="selectSuggestion($event.option.value)">
                            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
                                {{ suggestion }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                </ng-container>

                <!-- SEARCH BUTTONS -->
                <div *ngIf="selectedOption">
                    <button mat-raised-button color="primary" (click)="onSearch(1, pageSize)">
                        Search
                    </button>

                    <button mat-raised-button color="primary" (click)="onClear()">
                        Clear
                    </button>
                </div>

            </div>
        </div>

        <!-- LOADING -->
        <div class="loading" *ngIf="loading">
            <mat-spinner color="primary"></mat-spinner>
        </div>



        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="">
                        <th>
                            Customer ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Action
                        </th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Distributors" (click)="viewItemDetails(item._id)">
                            <td>
                                {{item._id}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.phone}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                            <td (click)="$event.stopPropagation()" class="action-col">

                                <!-- View -->
                                <button mat-icon-button color="primary" matTooltip="View"
                                    (click)="openViewDistributor(item, $event)">
                                    <mat-icon>visibility</mat-icon>
                                </button>

                                <!-- Edit -->
                                <button mat-icon-button color="primary" matTooltip="Edit Distributor"
                                    (click)="editDistributor(item, $event)">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <!-- Delete / Disable -->
                                <button mat-button class="status-btn"
                                    [ngClass]="item.status === 'active' ? 'active' : 'disabled'"
                                    (click)="toggleStatus(item)">
                                    <mat-icon>
                                        {{ item.status === 'active' ? 'check_circle' : 'cancel' }}
                                    </mat-icon>
                                    {{ item.status | titlecase }}
                                </button>



                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>