<div class="main-content">
    <div class="container-fluid">

        <div class="card card-plain">
            <div class="card-header " fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="5px">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field class="dropdown">
                        <mat-label>Filter by</mat-label>
                        <select matNativeControl [(ngModel)]="selectedOption" required>
                            <option label="--select something --"></option>
                            <option value="name">By Name</option>
                            <option value="phone">Phone</option>
                            <!-- <option value="brand">Brand</option>
                            <option value="date">By Date</option> -->
                        </select>
                    </mat-form-field>
                </div>


                <div *ngIf="selectedOption === 'name'" class="name-filter" fxLayout="row"
                    fxLayoutAlign.lt-md="start center">
                    <mat-form-field fxFlex="10%">
                        <input matInput placeholder="Name" name="name" [(ngModel)]="name"
                            (input)="fetchSuggestionsName()">
                    </mat-form-field>
                    <div class="suggesion" fxFlex="10%">
                        <mat-option *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)"
                            (optionSelected)="selectSuggestion($event)">
                            {{suggestion}}
                        </mat-option>
                    </div>


                    <mat-form-field fxFlex="10%">
                        <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone"
                            (input)="fetchSuggestionsPhone()">
                    </mat-form-field>
                    <div class="suggesion" fxFlex="10%">
                        <mat-option class="option2" *ngFor="let suggestion of dis_suggestions"
                            (click)="selectCusSuggestion(suggestion)" (optionSelected)="selectCusPhone($event)">
                            {{suggestion}}
                        </mat-option>
                    </div>

                    <!-- <mat-form-field fxFlex="10%" fxHide.lt-md>
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="selectedCategory">
                            <mat-option *ngFor="let category of Category" [value]="category._id">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <!-- <mat-form-field fxFlex="10%" fxHide.lt-md>
                        <mat-label>Brand</mat-label>
                        <mat-select [(ngModel)]="selectedBrand">
                            <mat-option *ngFor="let brand of Brands" [value]="brand._id">
                                {{ brand.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </div>


                <div *ngIf="selectedOption === 'phone'" class="name-filter" fxLayout="row"
                    fxLayoutAlign.lt-md="start center">
                    <mat-form-field fxFlex="10%">
                        <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone"
                            (input)="fetchCusSuggestions()">
                    </mat-form-field>
                    <div class="suggesion" fxFlex="10%">
                        <mat-option class="option2" *ngFor="let suggestion of cus_suggestions"
                            (click)="selectCusSuggestion(suggestion)" (optionSelected)="selectCusSuggestion($event)">
                            {{suggestion}}
                        </mat-option>
                    </div>
                </div>


                <!-- <div *ngIf="selectedOption === 'brand'" class="name-filter" fxLayout="row"
                    fxLayoutAlign.lt-md="start center">
                    <mat-form-field fxFlex="10%" fxHide.lt-md>
                        <mat-label>Brand</mat-label>
                        <mat-select [(ngModel)]="selectedBrand">
                            <mat-option *ngFor="let brand of Brands" [value]="brand._id">
                                {{ brand.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

                <!-- <div *ngIf="selectedOption === 'date'" class="name-filter" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" (dateChange)="onStartDateChange($event)">
                            <input matEndDate placeholder="End date" (dateChange)="onEndDateChange($event)">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div> -->

                <div class="button-container">
                    <div *ngIf="selectedOption === 'name' || selectedOption === 'phone'" fxLayout="row"
                        fxLayoutAlign="start center" fxLayoutGap="5px">
                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon"
                            (click)="onSearch(paginator.pageIndex + 1, paginator.pageSize)">
                            <i class="material-icons">search</i>
                        </button>

                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon"
                            (click)="onClear()">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                </div>

            </div>

        </div>


        <div class="loading" *ngIf="loading">
            <mat-spinner class="loading" color="primary" mode="indeterminate"></mat-spinner>
        </div>





        <!-- <div class="row mat-content title">
            <div class="col-md-2">
                Customer Name
            </div>
            <div class="col-md-3">
                Price
            </div>
            <div class="col-md-3">
                Quantity
            </div>
            <div class="col-md-2">
                Sale Date
            </div>
            <div class="col-md-2">
                Actions
            </div>
        </div> -->

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="">
                        <th>
                            Customer ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Action
                        </th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Distributors" (click)="viewItemDetails(item._id)">
                            <td>
                                {{item._id}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.phone}}
                            </td>
                            <td>
                                {{item.email}}
                            </td>
                            <td (click)="$event.stopPropagation()" class="action-col">

                                <!-- View -->
                                <button mat-icon-button color="primary" matTooltip="View"
                                    (click)="openViewDistributor(item, $event)">
                                    <mat-icon>visibility</mat-icon>
                                </button>

                                <!-- Edit -->
                                <button mat-icon-button color="primary" matTooltip="Edit Distributor"
                                    (click)="editDistributor(item, $event)">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <!-- Delete / Disable -->
                                <button mat-button class="status-btn"
                                    [ngClass]="item.status === 'active' ? 'active' : 'disabled'"
                                    (click)="toggleStatus(item)">
                                    <mat-icon>
                                        {{ item.status === 'active' ? 'check_circle' : 'cancel' }}
                                    </mat-icon>
                                    {{ item.status | titlecase }}
                                </button>



                            </td>

                            <!-- <td>
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>