<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Add Sales</h4>
                    <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card-body">
                            <form (ngSubmit)="onSubmit()" #addItemForm="ngForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Customer Name" name="customerName"
                                                [(ngModel)]="customerName" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Item Name" name="itemName"
                                                [(ngModel)]="itemName" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Category</mat-label>
                                            <mat-select name="category" [(ngModel)]="selectedCategory">
                                                <mat-option *ngFor="let category of Category" [value]="category._id">
                                                    {{ category.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Brand</mat-label>
                                            <mat-select name="brand" [(ngModel)]="selectedBrand">
                                                <mat-option *ngFor="let brand of Brands" [value]="brand._id">
                                                    {{ brand.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder=" Quantity" name="quantity"
                                                [(ngModel)]="quantity" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder=" Size" name="size" [(ngModel)]="size" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder=" Model" name="model" [(ngModel)]="model"
                                                required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input type="number" matInput placeholder=" Sell Price" name="purchasePrice"
                                                [(ngModel)]="purchasePrice" required>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>About Item Description</label>
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Description can be in Details ."
                                                name="description" [(ngModel)]="description"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-center"
                                    [disabled]="!addItemForm.valid">Add More Item</button>
                                <!-- <div class="clearfix"></div> -->
                                <button mat-raised-button type="submit" class="btn btn-danger pull-center"
                                    [disabled]="!addItemForm.valid" (click)="onSales()">Save</button>
                                <!-- <div class="clearfix"></div> -->
                            </form>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="">
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            Size
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of Display_items; let i = index">
                                            <td>
                                                {{item?.itemName}}
                                            </td>
                                            <td>
                                                {{item?.model}}
                                            </td>
                                            <td>
                                                {{item.size}}
                                            </td>
                                            <td>
                                                {{item?.quantity}}
                                            </td>
                                            <td>
                                                {{item?.purchasePrice}}
                                            </td>
                                            <td>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                    (click)="removeItem(i)">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <mat-divider></mat-divider>
                                <div class="total">
                                    <span>Total: </span>
                                    <div>
                                        {{totalQuantity}}
                                    </div>
                                    <div>
                                        {{totalPurchasePrice}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>