<h2 mat-dialog-title>Print Label Options</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" min="1" max="500" [(ngModel)]="options.quantity" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Label Size</mat-label>
        <mat-select [(ngModel)]="options.size">
          <mat-option value="50x30">50x30 mm</mat-option>
          <mat-option value="38x25">38x25 mm</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" type="button" (click)="submit()">Print</button>
</mat-dialog-actions>
