<div class="sidebar-wrapper" [class.collapsed]="isCollapsed">
  <div class="sidebar-head">
    <button
      mat-icon-button
      class="collapse-toggle"
      (click)="toggleSidebar()"
      [matTooltip]="isCollapsed ? 'Expand menu' : 'Collapse menu'">
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <!-- Logo -->
  <div class="logo" *ngIf="!isCollapsed">
    <a routerLink="/" class="simple-text">
      <div class="logo-img">
        <img src="/assets/img/logo.png" />
      </div>
    </a>
  </div>

  <!-- Menu -->
  <ul class="nav">
    <li
      *ngFor="let menuItem of menuItems; let i = index"
      class="nav-item"
      [class.has-children]="menuItem.children"
      [class.expanded]="menuItem.expanded"
      (mouseenter)="openFlyout(menuItem, i)"
      (mouseleave)="closeFlyout(menuItem, i)">

      <!-- Simple Link -->
      <a
        *ngIf="!menuItem.children"
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="[menuItem.path]"
        [matTooltip]="menuItem.title"
        [matTooltipDisabled]="!isCollapsed"
        matTooltipPosition="right"
        [matTooltipShowDelay]="100"
        matTooltipClass="sidebar-tooltip">

        <i class="material-icons">{{menuItem.icon}}</i>
        <p *ngIf="!isCollapsed">{{menuItem.title}}</p>
      </a>

      <!-- Dropdown -->
      <a
        *ngIf="menuItem.children"
        class="nav-link"
        (click)="toggleMenu(menuItem)"
        [matTooltip]="menuItem.title"
        [matTooltipDisabled]="!isCollapsed"
        matTooltipPosition="right"
        [matTooltipShowDelay]="100"
        matTooltipClass="sidebar-tooltip">

        <i class="material-icons">{{menuItem.icon}}</i>
        <p *ngIf="!isCollapsed">
          {{menuItem.title}}
          <b class="caret"></b>
        </p>
      </a>

      <ul
        *ngIf="menuItem.children && (isCollapsed ? isFlyoutOpen(menuItem, i) : menuItem.expanded)"
        class="nav child-menu"
        [class.flyout]="isCollapsed"
        (mouseenter)="openFlyout(menuItem, i)"
        (mouseleave)="closeFlyout(menuItem, i)">
        <li *ngFor="let child of menuItem.children" routerLinkActive="active" class="nav-item">

          <a
            class="nav-link"
            [routerLink]="[child.path]"
            [matTooltip]="child.title"
            [matTooltipDisabled]="!isCollapsed"
            matTooltipPosition="right"
            [matTooltipShowDelay]="100"
            matTooltipClass="sidebar-tooltip">

            <i class="material-icons">{{child.icon}}</i>
            <p *ngIf="!isCollapsed">{{child.title}}</p>
          </a>

        </li>
      </ul>

    </li>

    <!-- Logout -->
    <li class="nav-item logout-item">
      <a
        class="nav-link"
        (click)="logout()"
        matTooltip="Logout"
        [matTooltipDisabled]="!isCollapsed"
        matTooltipPosition="right"
        [matTooltipShowDelay]="100"
        matTooltipClass="sidebar-tooltip">
        <i class="material-icons">logout</i>
        <p *ngIf="!isCollapsed">Logout</p>
      </a>
    </li>

  </ul>

</div>
