<mat-card class="mat-elevation-z2">

  <mat-card-header>
    <mat-card-title>
      {{ isEditMode ? 'UPDATE PRODUCT' : 'ADD PRODUCT' }}
    </mat-card-title>
    <mat-card-subtitle>Create base product before adding variations</mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content class="form-container">

    <div class="row">
      <!-- Product Name -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Product Name *</mat-label>
        <input matInput [(ngModel)]="product.name" required>
      </mat-form-field>

      <!-- Category -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Category</mat-label>
        <mat-select [(ngModel)]="product.category" name="category" required>
          <mat-option *ngFor="let cat of categories" [value]="cat._id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Brand -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Brand</mat-label>
        <mat-select [(ngModel)]="product.brand" name="brand" required>
          <mat-option *ngFor="let b of brands" [value]="b._id">
            {{ b.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" [(ngModel)]="product.description"></textarea>
      </mat-form-field>

    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions align="end">

    <button mat-stroked-button color="warn" (click)="dialogRef.close()">
      Cancel
    </button>

    <button mat-raised-button color="primary" (click)="saveProduct()" [disabled]="isLoading">

      {{ isLoading ? (isEditMode ? 'Updating...' : 'Saving...') :
      (isEditMode ? 'Update Product' : 'Save & Add Variations') }}

    </button>

  </mat-card-actions>

</mat-card>