<div class="main-content">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Add Brand</h4>
    </div>

    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #brandForm="ngForm">

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Brand Name"
            name="name"
            [(ngModel)]="name"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea
            matInput
            placeholder="Brand Description"
            name="description"
            [(ngModel)]="description">
          </textarea>
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          class="btn btn-danger"
          [disabled]="!brandForm.valid || isLoading">
          Add Brand
        </button>

      </form>
    </div>
  </div>
</div>