<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <button
                *ngIf="showBackButton()"
                mat-icon-button
                type="button"
                class="title-back-btn"
                (click)="goBack()"
                aria-label="Go back">
                <i class="material-icons">arrow_back</i>
            </button>
            <a
                class="corner-dashboard-link"
                href="javascript:void(0)"
                (click)="onBreadcrumbClick('/dashboard')">
                <i class="material-icons">dashboard</i>
                <span>DASHBOARD</span>
            </a>
            <div class="navbar-breadcrumb">
                <ng-container *ngFor="let crumb of getBreadcrumbs().slice(1); let last = last">
                    <span *ngIf="!last" class="breadcrumb-sep">/</span>
                    <a
                        class="breadcrumb-link"
                        [class.active]="crumb.active"
                        href="javascript:void(0)"
                        (click)="onBreadcrumbClick(crumb.path)">
                        {{ crumb.label }}
                    </a>
                </ng-container>
            </div>

            <!-- Sleek Responsive Shop Switcher Pill -->
            <div
                *ngIf="isSuperAdmin"
                class="shop-select-pill"
                [matMenuTriggerFor]="shopsMenu"
                title="Switch Active Shop">
                <i class="material-icons pill-icon">storefront</i>
                <span class="pill-shop-name">{{ getCurrentShopLabel() }}</span>
                <i class="material-icons pill-arrow">arrow_drop_down</i>
            </div>
        </div>
        <button
            mat-raised-button
            class="navbar-toggler"
            type="button"
            (click)="sidebarToggle($event)"
            (touchstart)="onTogglerTouchStart($event)">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="mode-chip" [class.global]="isGlobalReadOnlyMode()" [class.shop-mode]="!isGlobalReadOnlyMode()">
                <span class="mode-chip-dot"></span>
                <span>{{ getScopeModeLabel() }}</span>
            </div>

            <div class="readonly-chip" *ngIf="isGlobalReadOnlyMode()">
                Read Only
            </div>

            <div class="shop-chip">
                <span class="shop-chip-label">Shop:</span>
                <span class="shop-chip-value">{{ getCurrentShopLabel() }}</span>
            </div>

            <ul class="navbar-nav align-items-center">
                <li class="nav-item dropdown" *ngIf="isSuperAdmin">
                    <a class="nav-link shop-count-link" href="javascript:void(0)" [matMenuTriggerFor]="shopsMenu">
                        <i class="material-icons">store</i>
                        <span class="shop-count-label">Shops</span>
                        <span class="shop-count-badge">{{ shops.length }}</span>
                    </a>
                    <mat-menu #shopsMenu="matMenu">
                        <button mat-menu-item (click)="clearShopSelection()">
                            <i class="material-icons">public</i>
                            <span>All Shops (Global)</span>
                        </button>
                        <button mat-menu-item (click)="navigateTo('/shops')">
                            <i class="material-icons">add_business</i>
                            <span>Add Shop</span>
                        </button>
                        <button mat-menu-item (click)="openShopSyncModal()">
                            <i class="material-icons">sync_alt</i>
                            <span>Clone / Sync Shop Data</span>
                        </button>
                        <button mat-menu-item *ngFor="let shop of shops" (click)="onShopChange(shop._id)">
                            <i class="material-icons">storefront</i>
                            <span>{{ shop.name }} ({{ shop.shopCode }})</span>
                        </button>
                    </mat-menu>
                </li>

                <li class="nav-item" *ngIf="isSuperAdmin">
                    <a class="nav-link quick-link sync-link" href="javascript:void(0)" (click)="openShopSyncModal()" title="Clone / Sync Shop Data">
                        <i class="material-icons">sync_alt</i>
                        <span class="quick-link-text">Sync Data</span>
                    </a>
                </li>

                <li class="nav-item" *ngFor="let link of navLinks">
                    <a class="nav-link quick-link" href="javascript:void(0)" (click)="navigateTo(link.path)">
                        <i class="material-icons">{{ link.icon }}</i>
                        <span class="quick-link-text">{{ link.title }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
